<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeDecore Services - {% block remtitle %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
     
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block cont %}
    
    {% endblock %}
    
</head>
<body class="min-vh-100 d-flex flex-column bg-light">
<!-- Navigation -->
<nav class="navbar animated-gradient-navbar">
    <div class="container d-flex align-items-center justify-content-between py-2">
        <a class="navbar-brand fw-bold" href="{% if hide_toggler %} / {% endif %}">
            HomeDecore Services
        </a>
        
        {% if not hide_toggler %}
        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% block navigation %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>

    
    

    <!-- Flash Messages -->
    <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <!-- Main Content -->
    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white py-3 mt-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2024 HomeDecore Services Platform | All rights reserved</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
    

    
    {% block scripts %}
    
    {% endblock %}

</body>


</html>



